{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Inofficial schema.org Test UI</h1>

        <h2>Content sources</h2>

        {% for content_source_key, content_source in content_sources %}

            <h3>
                {{ content_source.name }}
                <small>{{ content_source.description }}</small>
            </h3>

            <ul>

                {% for search_action_key, search_action in content_source.search_actions %}
                    <li>
                        <a href="{{ path('search', { 'content_source_key': content_source_key, 'search_action_key': search_action_key }) }}">{{ search_action.name }}</a>
                        <br />
                        <span class="text-muted">{{ search_action.description }}</span>
                    </li>
                {% endfor %}

            </ul>

        {% endfor %}

    </div>

{% endblock %}
